<FluentTabs>
    <FluentTab Id="Tab-1" Icon="@(new Icons.Filled.Size16.Airplane())" Label="Tab 1">
        <p>Tab 1 Content</p>
    </FluentTab>

    <FluentTab Id="Tab-2"  Label="Tab 2">
        <p>Tab 2 Content</p>
    </FluentTab>
</FluentTabs>
